.postcomu{
    text-align: justify;
}

.postcomu p {
}

.postcomu img {
    width: 100%;
}

h4 {
    margin-left: 5%;
}

.container1 {
    border: none;
}

h1, h2, h3, h4, h5 {
    font-family: sans-serif;
}