li{
    font-size: 13px;
}

#comecom-logo{
    height: 335px;
}

#semi-menu{
    word-spacing: 20px;
    color: #773d94;
}

.comecom-logo-rules-and-faq{
    height: 250px;
}

.container1 {
    width: 750px;
    min-height: 100px;
    margin-left: auto;
    margin-right: auto;
    border: 1px;
    border-style: solid;
    border-color: #773d94;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 20px;
}
.container1-1 {
    height: 33px;
    border: 1px;
    color: white;
    font-size: 16px;
    font-family: helvetica;
    border-style: solid;
    background-color: #773d94;
    border-color: #773d94;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container1-1 p {
    margin-top: 5px;
    font-weight: bold;
    padding: 0.5vh 0.5vw;
}

.container1-2 p{
    font-size: 13px;
    font-family: helvetica;
    margin-top: 13px;
    line-height: 1.5;
    padding: 0.5vh 0.5vw;
    text-align: justify;
}

.container1-2 p a {
    color: #773d94;
}

.color{
    margin-top: 25px;
    color: #773d94;
}