.form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type='search'], .button button{
    height: 35px;
    border: 1px solid #bbb;
    border-radius: 3px;
    padding: 7px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

input[type='search'] {
    width: min(100% - 2rem, 280px);
    font-size: 14px;
    outline: none;
    margin-right: 10px;
}

.button  button {
    width: 100px;
    background-color: #fff;
    color: var(--color-purple);
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s;
}

.button  button:hover {
    color: #fff;
    background-color: var(--color-purple);
    transition: all 0.3s;
}