/*HEADER - include*/
.menu {
    width: 100%;
    display: flex;
    background-color: #333333;
    height: 64px;
    font-size: 18px;
}

.logo {
    width: 25%;
    display: flex;
}

.logo a {
    padding: 0;
    margin: auto;
}

.container_categoria {
    width: 50%;
    display: flex;
}

.container_search {
    width: 25%;
    display: flex;
}

.container_search .inputs {
    float: right;
    margin: auto;
}

.inputs {
    background-color: #dddddd;
    border-radius: 3px;
}

.inputs input{
    width: 250px;
    height: 24px;
    border: none;
    background-color: transparent;
    padding-left:5px;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.inputs img {
    display: inline-block;
    vertical-align: middle;
}

.input-search {
    display: block;
    float: left;
}

.submit-search {
    display: block;
    float: right;
    height: 26px;
    padding-left: 5px;
    padding-right:5px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #ccc;
    cursor: pointer;
}

.submit-search:hover {
    background-color: #b4b4b4;
}

.container_categoria ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
}

.container_categoria li {
    float: left;
    margin: auto;
    
}

.container_categoria li a {
    display: block;
    color: #FFF;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.container_categoria li a:hover {
    text-decoration: underline;
}





/*FOOTER - include*/
.navFooter {
    background-color: #333333;
    margin-bottom: 0;
    padding-bottom: 0;
    position: relative;
    min-width: 1000px;
}

.footerBackToTop {
    margin-bottom: 40px;
    background-color: #474747;
}

.footerBackToTop:hover {
    background-color: #535353;
}

.footerBackToTopText {
    display: block;
    text-align: center;
    padding: 15px 0;
    line-height: 19px;
    font-size: 13px;
    color: #FFF;
}

.footerVerticalRow {
    display: table-row;
}

.footerVerticalColumn {
    display: table;
    margin: 0 auto;
    max-width: 1000px;
}

.footerSpaceCol {
    width: 20%;
    padding: 0 15px;
}

.footerHeadCol {
    font-weight: 700;
    color: #FFF;
    margin: 6px 0 14px 0;
    white-space: nowrap;
    font-size: 16px;
}

.footerSpaceCol, .footerLinkCol {
    display: table-cell;
    padding: 0 10px;
}

.footerLinkCol {
    line-height: 120%;
    color: #333;
    font-size: 14px;
}

.footerLinkCol ul {
    padding: 0px;
    margin: 0px;
}

.footerLinkCol ul li {
    list-style-type: none;
    white-space: nowrap;
    margin-bottom: 10px;
    word-wrap: break-word;
}

.nav_a {
    color: #DDD;
}

.nav_a:hover {
    text-decoration: underline;
}

.footerLine {
    border-top: 1px solid #808080;
    margin-top: 40px;
}

.footerLogoLine {
    text-align: center;
    max-width: 1000px;
    margin: 30px auto 15px;
}

.logoSprite {
    width: 80px;
    height: 24px;
    margin: 0 auto;
    background-image: url(../media/logo-mini.png);
    background-repeat: repeat-x;
}

.footerCopyrightLine {
    max-width: 100%;
    margin: 0;
    padding: 10px 0 30px;
    text-align: center;
    color: #999;
    background-color: #252525;
}
.footerCopyrightLine ul {
    margin: 0;
    padding: 0;
}

.footerCopyrightLine ul li {
    list-style-type: none;
    font-size: 12px;
    display: inline;
    border-left: 0;
}





/*CATEGORIAS - categoria*/
/*.eletronicos {
    background-color: #1C8699;
}
.mercado {
    background-color: #BF082C;
}

.modaecasa {
    background-color: #BD2D81;
}

.petshop {
    background-color: #6e4912;
}*/
.comunidade {
    background-color: #04AA6D;
}