/*HEADER - include*/
.menu {
    width: 100%;
    display: flex;
    background-color: var(--color-purple);
    height: 48px;
    font-size: 18px;
}

.logo {
    width: 25%;
    display: flex;
    overflow: hidden;
}

.logo a {
    padding: 0;
    margin: auto;
}

.logo img {
    height: 96px;
    transform: translateY(-22.5px);
}

.container_categoria {
    width: 100%;
    display: flex;
    height: 38px;
}

.container_search {
    width: 50%;
    display: flex;
}

.container_search .inputs {
    float: right;
    margin: auto;
}

.container_user {
    width: 25%;
    display: flex;
}

.user {
    vertical-align: middle;
    align-items: center;
    margin: auto;
    margin-right: 50px;
    float: right;
}

.user-text {
    color: white;
    display: block;
    float: right;
    padding: 3.5px;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 500;
}

.user-text:hover {
    text-decoration: underline;
}

.user-img {
    width: 28px;
    filter: invert(100);
    float: left;
}

.inputs {
    background-color: #ffffff00;
    border-radius: 20px;
    border: 1px solid white;
}

.inputs input {
    border-radius: 20px;
    width: 500px;
    height: 32px;
    border: none;
    background-color: transparent;
    color: #FFF;
    padding-left: 15px;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.inputs input::placeholder {
    color: white;
}

.inputs img {
    display: inline-block;
    vertical-align: middle;
    filter: invert(100);
}

.comunidade .inputs img {
    display: inline-block;
    vertical-align: middle;
    filter: invert(100);
    transform: translateY(7px);
}

.input-search {
    display: block;
    float: left;
}

.submit-search {
    display: block;
    float: right;
    height: 32px;
    padding-left: 7px;
    padding-right: 7px;
    margin-right: 8px;
    cursor: pointer;
}

.container_categoria ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
}

.container_categoria li {
    float: left;
    margin: auto;
    
}

.container_categoria li a {
    display: block;
    color: var(--color-purple);
    text-align: center;
    padding: 8.5px;
    padding-left: 50px;
    padding-right: 50px;
    text-decoration: none;
    font-weight: 500;
}

.nav-item:hover {
    background-color: #00000015;
}



/*FOOTER - include*/
.navFooter {
    background-color: var(--color-dark);
    margin-bottom: 0;
    padding-bottom: 0;
    position: relative;
    min-width: 1000px;
}

.footerBackToTop {
    margin-bottom: 40px;
    background-color: var(--color-dark);
    border-bottom: 1px solid rgb(25, 25, 25);
}

.footerBackToTop:hover {
    background-color: #222222;
}

.footerBackToTopText {
    display: block;
    text-align: center;
    padding: 15px 0;
    line-height: 19px;
    font-size: 13px;
    color: #FFF;
}

.footerVerticalRow {
    display: table-row;
}

.footerVerticalColumn {
    display: table;
    margin: 0 auto;
    max-width: 1000px;
}

.footerSpaceCol {
    width: 20%;
    padding: 0 15px;
}

.footerHeadCol {
    font-weight: 900;
    color: #FFF;
    margin: 6px 0 14px 0;
    white-space: nowrap;
    font-size: 16px;
}

.footerSpaceCol, .footerLinkCol {
    display: table-cell;
    padding: 0 10px;
}

.footerLinkCol {
    line-height: 120%;
    color: #333;
    font-size: 14px;
}

.footerLinkCol ul {
    padding: 0px;
    margin: 0px;
}

.footerLinkCol ul li {
    list-style-type: none;
    white-space: nowrap;
    margin-bottom: 10px;
    word-wrap: break-word;
}

.nav_a {
    color: #fff;
}

.nav_a:hover {
    color: rgb(130, 10, 209);
}

.footerLine {
    border-top: 1px solid rgb(25, 25, 25);
    margin-top: 40px;
}

.footerLogoLine {
    text-align: center;
    max-width: 1000px;
    margin: 30px auto 15px;
}

.logoSprite {
    width: 280px;
    height: 80px;
    margin: 0 auto;
    background: url(../media/COMECOM-rodape.png) center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.footerCopyrightLine {
    max-width: 100%;
    margin: 0;
    padding: 10px 0 30px;
    text-align: center;
    color: #999;
    background-color: var(--color-dark);
}
.footerCopyrightLine ul {
    margin: 0;
    padding: 0;
}

.footerCopyrightLine ul li {
    list-style-type: none;
    font-size: 12px;
    display: inline;
    border-left: 0;
}





/*CATEGORIAS - categoria*/
.eletronicos {            /*1*/       /*2*/      /*3*/      /*4*/       /*5*/     /*6*/
    background-color: #773d94 /*#af162a*/ /*#07f9a2*/ /*#582770*/ /*#295264*/ /*#30261c*/ /*#1C8699*/;
}
.mercado {
    background-color: #773d94 /*#95003a*/ /*#09c184*/ /*#773d94*/ /*#eeae4f*/ /*#403831*/ /*#BF082C*/;
}

.modaecasa {
    background-color: #773d94 /*#830024*/ /*#0a8967*/ /*#943d8a*/ /*#bd2f28*/ /*#365440*/ /*#BD2D81*/;
}

.petshop {
    background-color: #773d94 /*#5a0e3d*/ /*#0c5149*/ /*#c22760*/ /*#89373d*/ /*#1f5f61*/ /*#6e4912*/;
}
.comunidade {
    background-color: #773d94 /*#44021e*/ /*#0d192b*/ /*#773d94*/ /*#142433*/ /*#0b8185*/ /*#04AA6D*/;
}