/*Bruh*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#check {
	display: none;
}

#check2 {
	display: none;
}

.menu_btn2 i
{	
	color: #fff;
	font-size: 25px;
	cursor: pointer;
	display: none;
}

div .menu_btn i
{	
	color: #fff;
	font-size: 25px;
	cursor: pointer;
	display: none;
}

ul li.login_menu {
	display: none;
}

@media screen and (max-width: 600px)
{
	.item-info {
		width: 300px;
	}
}

@media screen and (max-width: 910px)
{
	.item {
		margin-bottom: 520px;
	}
}

@media screen and (max-width: 940px)
{
	/*Configurações do menu*/
	.menu {
		position: fixed;	
		z-index: 5;
	}

	ul.nav
	{
		position: fixed;
		top: 48px;
		right: -100%;
		background: var(--color-purple);
		height: 100%;
		width: 100%;
		display: block;
		text-align: center;
		transition: 1s;
        display: flex;	
        flex-direction: column;
		z-index: 5;
	}

	div.container_categoria ul li.first-item
	{
		position: relative;
		margin: 30px 0px 30px 0px;
	}

	div.container_categoria ul li
	{
		position: relative;
		margin: 35px 0;
	}

	div.container_categoria ul li a
	{
		font-size: 20px;
		display: block;
        color: white;
	}

	/*Configuração dos botões*/
	label.menu_btn i
	{
		display: block;
		position: absolute;
		right: 5%;
		top: 13px;
		color: #fff;/*Mudar*/
		z-index: 5;
		position: fixed;
	}

	label
	{
		display: flex;
		align-items: center;
	}

	#check:checked ~ ul
	{
		right: 0%;
	}

	#check:checked ~ .menu_btn i:before
	{
		content: "\f00d";
	}

	ul li.login_menu {
		display: block;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.container_user1 {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.user {
		width: 100%;
		position: absolute;
		left: 4px;
		display: flex;
		justify-content: center;
	}

	.user-text {
		font-size: 19px;
	}

	.user-img {
		margin-top: 2px;
	}

	div .login_navigator {
		display: none;
	}

	.navFooter {
		z-index: 1;
	}

	img.img1-navigator {
		display: none;
	}

	.logo {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 30%;
	}
	
	img.img2-navigator {
		display: block;
		height: 40px;
		position: absolute;
		top: 4px;
		left: 5%;
	}
	
	.container_search {
		width: 80%;
		display: flex;
	}

	nav h3 {
		margin-top: 0px;/*BRUUUUUUUU*/
	}

	.nav-list-teste {
		margin-top: 50px;
		background-color: red;
	}

	.nav-list-teste.active {
		margin-top: 50px;
		background-color: blue;
	}
}

@media screen and (max-width: 1100px)
{
	.item-info {
		width: 30%;
	}

	.item-info {
		width: 50%;
	}
}

@media screen and (max-width: 1250px) {
	.main {
		display: grid;
		grid-template-columns: repeat(3, 1fr)
	} 

	.ordenador {
		position: absolute;
		width: 90%;
		left: 5%;
		top: 460px;
	}

	.filtros {
		position: absolute;
		width: 90%;
		top: 170px;
	}

	.container-left {
		width: 100%;
	}

	.container-right {
		width: 100%;
	}

	.cabecao {
		margin-bottom: 4000px;/*400*/
	}

	.item-info {
		width: 400px; 
	}

	.ordenador2 {
		display: flex;
		flex-direction: column;
		margin-top: 50px;	
	}

	.ordenador {
		border: 0px;
	}

	.mobile-menu-teste {
		position: absolute;
		top: -290px;
		left: 52%;
		width: 48%;
	}

	nav h3 {
		width: 100%;
		border: 1px solid #bbbb;
		padding: 1rem 2rem;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 50px;/*BRUUUUUUUU*/
	}

	nav {	
		width: 48%;
	}

	nav h3 svg {
		margin-right: 10px;
	}
}

@media screen and (max-width: 1350px) {
	.main {
		display: grid;
		grid-template-columns: repeat(4, 1fr)
	} 
}