h5 {
    color: #999;
    font-size: 10px;
    padding: 0 5px;
    margin: 0;
    text-transform: uppercase;
}

hr {
    border-top: #bbb solid 1px;
    border-bottom: none;
    height: 0;
    margin: 5px 0 10px;
}

.container-user {
    display: flex;
    width: 75%;
    margin: auto;
    margin-top: 100px;
    
}

.navigator-user {
    width: 20%;
    text-align: center;
}

.logo-user {
    width: 100%;
    height: auto;
    border: 1px solid #bbb;
    border-radius: 3px;
}

.logo-user img {
    vertical-align: middle;
    width: 92px;
    margin: 20px;
}

.buttom-div {
    width: 100%;
    height: auto;
    margin: 15px 0px 15px 0px;
    border: 1px solid #bbb;
    border-radius: 3px;
    color:#ef4130;
    font-weight: 500;
}

.btn1, .btn2 {
    color: var(--color-purple);
}

.buttom-div a {
    display: block;
    padding: 13px 0 13px 0px;;
}

.buttom-div:hover {
    background-color: #ef4130;
    transition: all 0.3s;
}

.btn1:hover, .btn2:hover {
    background-color: var(--color-purple);
}

.buttom-div:hover a {
    color: white;
    transition: all 0.3s;
}

.info-user {
    margin-left: 3%;
    width: 55%;
}

.title-page {
    border: 1px solid #bbb;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 20px;
    width: 100%;
}

.title-page h1 {
    color: var(--color-purple);
    font-size: 22px;
    font-weight: 700;
    padding: 12px 0;
    text-align: center;
    text-transform: uppercase;
}

.title-page p, .container-name p {
    margin: 0px;
    background: var(--color-purple);
    color: white;
    border-radius: 0 0 3px 3px;
    border-top: #bbb solid 1px;
    font-size: 10px;
    padding: 7px 10px;
    text-transform: uppercase
}

.input-user {
    width: 100%;
    display: inline-block;
}

.input-user input, .input-user textarea, .input-password {
    color: #333;
    /* background: #fff; */
    border: 1px solid #bbb;
    border-radius: 3px;
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 8%);
    box-sizing: border-box;
    margin: 0 0 15px;
    min-height: 34px;
    padding: 7px 8px;
    vertical-align: middle;
    width: 100%;
}

.input-user textarea {
    max-width: 100%;
    min-width: 100%;
    min-height: 150px;
    height: 150px;
    margin-bottom: 0px;
}

#crt {
    text-align: right;
    margin-bottom: 20px;
}

.input-user input[readonly=readonly] {
    background-color: #f3f3f3!important;
}

.input-user label {
    color: #454545;
    display: block;
    font-size: 12px;
    margin: 0 5px 5px;
    text-transform: uppercase;
}

.input-password {
    font-weight: 500;
    color: #ef4130;
    text-align: center;
    margin-top: 21px;
    font-size: 12px;
    text-transform: uppercase;
}

.input-password:hover {
    background: #ef4130;
    color: white;
}

.senha {
    width: 100%;
}

.input-left {
    float: left;
}

.input-right {
    float: right;
}

.foto-user {
    width: 15.75% !important;
    margin: 0;
    margin-left: auto;
}

.foto{
    width: 560px;
    height: 150px;
    margin-bottom: 35px;
}

.foto img{
    width: 140px;
    height: auto;
    margin-top: 10px;
    cursor: pointer;
}

div.foto input[type='file'] {
    display: none;
}

.doc-user input {
    cursor: pointer;
}

.small {
    width: 38.75%;
}

.medium {
    width: 48%;
}

.salvar-user {
    margin-top: 14px;
}

.salvar-user input {
    cursor: pointer;
}

.salvar-user input{
    height: 50px;
    background-color: white;
    color: var(--color-purple);
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s;
}

.salvar-user:hover input {
    background-color: var(--color-purple);
    color: white;
    transition: all 0.3s;
}

.salvar-user input:disabled {
    background-color: #00000025;
    color: var(--color-purple);
}

/* security */

.container-page {
    border-radius: 3px;
    box-shadow: 0 0 10px 0 #808080;
    width: 550px;
    margin: 50px auto;
    left: 0;
    right: 0;
    padding: 20px;
}

.container-name {
    background-repeat: no-repeat;
    border: 1px solid #bbb;
    border-radius: 3px;
    box-sizing: border-box;
    margin: 0;
    position: relative;
    width: 100%;
}

.container-name h1{
    color: var(--color-purple);
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.container-tricks, .container-form {
    border: 1px solid #bbb;
    border-radius: 3px;
    margin-top: 20px;
}

.container-tricks h3, .container-form h3 {
    background: var(--color-purple);
    color: white;
    border-bottom: #bbb solid 1px;
    font-size: 14px;
    font-weight: 700;
    margin: 0 auto;
    padding: 7px 0;
    text-align: center;
    text-transform: uppercase;
}

.container-tricks p, .container-form p, .container-form ul li{
    color: #454545;
    font-size: 14px;
    line-height: 1.5;
    padding: 0 20px;
}

.container-form ul {
    margin: 0 40px;
}

.container-form ul>li{
    list-style-type: square;
    padding: 0;
}

.container-form ul>li ul{
    margin: 0 20px 10px;
}

.container-form ul>li ul>li {
    list-style-type: circle;
}

.input-user2 {
    width: auto;
    display: block;
    margin: 5px 20px;
}

.input-user3 {
    margin: 0px 20px;
}

.salvar-user2 {
    margin-top: 22px;
    margin-bottom: 20px;
}

.salvar-user2 input {
    margin: 0;
}

.cr-boundary {
    margin-left: 0!important;
}