/*Bruh*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#check {
	display: none;
}

div .menu_btn i
{	
	color: #fff;
	font-size: 25px;
	cursor: pointer;
	display: none;
}

ul li.login_menu {
	display: none;
}

@media screen and (max-width: 940px)
{
	/*Configurações do menu*/
	.menu {
		position: fixed;	
		z-index: 5;
	}

	ul.nav
	{
		position: fixed;
		top: 48px;
		right: -100%;
		background: var(--color-purple);
		height: 100%;
		width: 100%;
		display: block;
		text-align: center;
		transition: 1s;
        display: flex;	
        flex-direction: column;
		z-index: 5;
	}

	div.container_categoria ul li.first-item
	{
		position: relative;
		margin: 30px 0px 30px 0px;
	}

	div.container_categoria ul li
	{
		position: relative;
		margin: 35px 0;
	}

	div.container_categoria ul li a
	{
		font-size: 20px;
		display: block;
        color: white;
	}

	/*Configuração dos botões*/
	label.menu_btn i
	{
		display: block;
		position: absolute;
		right: 5%;
		top: 13px;
		color: #fff;/*Mudar*/
		z-index: 5;
		position: fixed;
	}

	label
	{
		display: flex;
		align-items: center;
	}

	#check:checked ~ ul
	{
		right: 0%;
	}

	#check:checked ~ .menu_btn i:before
	{
		content: "\f00d";
	}

	ul li.login_menu {
		display: block;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.container_user1 {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.user {
		width: 100%;
		position: absolute;
		left: 4px;
		display: flex;
		justify-content: center;
	}

	.user-text {
		font-size: 19px;
	}

	.user-img {
		margin-top: 2px;
	}

	div .login_navigator {
		display: none;
	}

	.navFooter {
		z-index: 1;
	}

	img.img1-navigator {
		display: none;
	}

	.logo {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 30%;
	}
	
	img.img2-navigator {
		display: block;
		height: 40px;
		position: absolute;
		top: 4px;
		left: 5%;
	}
	
	.container_search {
		width: 80%;
		display: flex;
	}

	.footerSpaceCol {
		/* display: none; */
	}
}