#comecom-logo{
    height: 335px;
}

#semi-menu{
    word-spacing: 20px;
    color: #773d94;
}

.comecom-logo-rules-and-faq{
    height: 250px;
}

.container1 {
    width: 750px;
    min-height: 100px;
    margin-left: auto;
    margin-right: auto;
    border: 1px;
    border-style: solid;
    border-color: #773d94;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 20px;
}
.container1-1 {
    height: 33px;
    border: 1px;
    color: white;
    font-size: 16px;
    font-family: helvetica;
    border-style: solid;
    background-color: #773d94;
    border-color: #773d94;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container1-1 p {
    margin-top: 5px;
    font-weight: bold;
    padding: 0.5vh 0.5vw;
}

.container1-2 p{
    font-size: 13px;
    font-family: helvetica;
    margin-top: 13px;
    line-height: 1.5;
    padding: 0.5vh 0.5vw;
    text-align: justify;
}

.container1-2 p a {
    color: #773d94;
}

.li-rules {
    font-size: 13px;
}

.color{
    margin-top: 25px;
    color: #773d94;
}



/* sobre nozes */
.title-logo-abt {
    text-align: center;
    margin: 50px;
}

.conteudo {
    text-align: justify;
}

.title1, .texto1, .title2 ,.texto2{
    margin: auto;
    margin-left: 10%;
    width: 40%;
    line-height: 1.5;
}

.title2, .texto2 {
    margin: auto;
    margin-right: 10%;
}

.texto2 ul li.jose {
    margin-bottom: 10px;
}

.title1 {
    border-bottom: 1px solid black;
}

.title2 {
    border-bottom: 1px solid white;
}

.introducao-abt {
    background-color: white;
    padding-bottom: 25px;
}

.objetivos-abt {
    color: white;
    background-color: var(--color-purple);
    padding: 25px 0 25px 0;
}