.cabecao {
    text-align: center;
    margin: auto;
    width: 90%;
    margin-top: 40px;
    margin-bottom: 20px;
    background-color: var(--color-purple);
    color: #fff;
}

.cabecao h1 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.container-anuncios {
    display: flex;
    margin: auto;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 50px;
}

.container-left {
    width: 15%;
}

.container-right {
    width: 85%;
}

.main {
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 5px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(5, 1fr)
}

.pages {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.pages a {
    font-weight: 500;
    margin: 10px;
}

.pages .selected {
    color: var(--color-purple);
    text-decoration: underline;
}

.item {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.055);
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}

.item:hover {
    box-shadow: rgb(150, 150, 150) 0px 1px 6px;
    transition: all 0.1s;
}

.item img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
}

.item-info {
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.item-expire {
    background-color: var(--color-purple);
    border-radius: 7px;
    color: #fff;
    text-align: center;
    margin: 10px;
    padding: 5px;
}

.item-info h4 {
    margin: 0;
    margin-top: 5px;
    height: 54px;
}

.item-price {
    margin: 10px 0 10px 0;
    display: grid;
}

.item-oldPrice {
    text-decoration: line-through;
    color: rgb(146, 146, 146);
    font-size: 12px;
}

.item-newPrice {
    font-weight: 600;
    color: var(--color-purple);
    font-size: 18px;
}

.filter {
    margin-bottom: 30px;
}

.filter h4 {
    margin-bottom: 5px;
}

.filter input[type=text] {
    width: 80px;
    border-radius: 3px;
    margin-left: 5px;
    height: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.filter input[type=text]:focus {
    border: 1px solid var(--color-purple);
}

.filter input[type=submit] {
    width: 24px;
    height: 24px;
    margin-top: 5px;
    background: transparent;
    color: var(--color-purple);
    border: 1px solid var(--color-purple);
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s;
    margin-left: 10px;
}

.filter input[type=submit]:hover {
    background-color: var(--color-purple);
    border: none;
    color: #fff;
    transition: all 0.2s;
}

.check {
    all: unset;
    background-color: transparent;
    border: 1px solid var(--color-purple);
    margin-right: 5px;
    border-radius: 2px;
}

.check:checked {
    background-color: var(--color-purple);
    border: 1px solid transparent;
}

.check:focus {
    border: 1px solid var(--color-purple);
}

.select {
    border-radius: 3px;
    margin-left: 5px;
    margin-right: 15px;
    cursor: pointer;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
}

.select:focus {
    border: 1px solid var(--color-purple);
}

.check, .text, .select {
    border: 1px solid var(--color-purple);
    position: relative;
    font-size: 14px;
    min-width: 15px;
    min-height: 15px;
}

.filter label {
    display: flex;
    align-items: center;
}

.ordenador {
    border-bottom: 1px solid var(--color-purple);
}

.filter-order, .filter-pages {
    margin-bottom: 20px;
}

.ordenador2 {
    display: flex;
}

.containerPrice {
    margin-left: 10px;
}

.container2 {
    display: block;
    align-items: center;
    cursor: default;
    font-weight: bold;
}

.container {
    display: block;
    position: relative;
    padding-left: 22px;
    cursor: pointer;
    margin-left: 10px;
}
  
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: transparent;
    border-radius: 2px;
    border: 1px solid var(--color-purple);
}

.container:hover input ~ .checkmark {
    background-color: rgb(230, 230, 230);
}

.container input:checked ~ .checkmark {
    background-color: var(--color-purple);
}

.container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 4.5px;
    top: 1px;
    width: 3px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.container input:checked ~ .checkmark:after {
    display: block;
}