* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-users {
    width: 100%;
}

.title-page {
    width: min(100% - 2rem, 1000px);
    margin-inline: auto;
    text-transform: uppercase;
    margin-top: 100px;
    border: 1px solid #bbb;
    border-radius: 4px;
}

.container-title-page-1 {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-purple);
    font-size:26px;
    font-weight: bold;
}

.container-title-page-2 {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    background-color: var(--color-purple);
    color: white;
    font-size: 10px;
    padding-left: 10px;
}

.users-busca {
    width: min(100% - 2rem, 1000px);
    margin: auto;
}

.table-users {
    display: flex;
    margin: auto;
}

.rTable {
    border-collapse: collapse;
    width: min(100% - 2rem, 1000px);
    margin-inline: auto;
    text-align: center;
}

.rTable tbody tr:nth-child(2n) {
    background-color: rgba(187, 187, 187, 0.297);
}

table, tr, th, td {
    border: 1px solid #bbb;
}

th {
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
}

tr td {
    padding: 8px;
}

#down {
    background-color: #ff4444;
    padding: 5px 11.14px;
    border-radius: 4px;
    color: #fff;
}

#up {
    background-color: #00c851;
    padding: 5px 6.84px;
    border-radius: 4px;
    color: #fff;
}

#on {
    background-color: #4285f4;
    padding: 5px 23.275px;
    border-radius: 4px;
    color: #fff;
}

#off {
    background-color: #33b5e5;
    padding: 5px 11.07px;
    border-radius: 4px;
    color: #fff;
}

@media screen and (max-width: 700px) {
    .table-users {
        width: min(100% - 0rem, 100%);
    }
    
    .rTable thead {
        display: none;
    }

    .rTable tbody td {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 701px) {
    .table-users {
        width: min(100% - 0rem, 1200px);
    }

    .rTable tbody tr td:nth-child(1){width: 8%;}
    .rTable tbody tr td:nth-child(2){width: 25%;}
    .rTable tbody tr td:nth-child(3){width: 28%;}
    .rTable tbody tr td:nth-child(4){width: 19%;}
    .rTable tbody tr td:nth-child(5){width: 10%;}
    .rTable tbody tr td:nth-child(6){width: 10%;} 
}