#comecom-logo{
    height: 335px;
}

#semi-menu{
    word-spacing: 20px;
    color: var(--color-purple);
}

.botaoTOP:hover {
    color: var(--color-purple);
}

.comecom-logo-rules-and-faq{
    height: 250px;
}

.comecom-avatar {
    display: flex;
}

.comecom-avatar img {
    height: 20px;
    margin-top: 5px;
    margin-left: 0.5vw;   
}

.comecom-denunciar {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    color: var(--color-purple);
}

.comecom-denunciar svg {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 5px;
    vertical-align: text-bottom; 
}

.container1 {
    border: 1px solid var(--color-purple);
    border-radius: 4px;
    width: min(100% - 2rem, 750px);
    margin-inline: auto;
    min-height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 25px;
}
.container1-1 {
    height: 33px;
    border: 1px;
    color: white;
    font-size: 16px;
    font-family: helvetica;
    border-style: solid;
    background-color: var(--color-purple);
    border-color: var(--color-purple);
    overflow: hidden;
    text-overflow: ellipsis;
}

.container1-1 p {
    margin-top: 3px;
    font-weight: bold;
    padding: 0.5vh 0.5vw;
}

.container1-2 p{
    font-size: 13px;
    font-family: helvetica;
    margin-top: 13px;
    line-height: 1.5;
    padding: 0.5vh 0.5vw;
    text-align: justify;
}

.container1-2 p a {
    color: var(--color-purple);
}

.container2 {
    border: 1px solid var(--color-purple);
    width: min(100% - 2rem, 750px);
    margin-inline: auto;
    border-radius: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 30px;
}

.container2-1 {
    height: 33px;
    border: 1px;
    color: white;
    font-size: 12px;
    font-family: helvetica;
    border-style: solid;
    background-color: var(--color-purple);
    border-color: var(--color-purple);
    overflow: hidden;
    text-overflow: ellipsis;
}

.container2-1 p {
    margin-top: 5px;
    font-weight: bold;
    padding: 0.5vh 0.5vw;
}

.container2-1 h4 {
    margin-top: 5px;
    font-weight: bold;
    padding: 0.5vh 0.5vw;
}

.container2-2 {
    background-color: rgb(255, 253, 253);
    font-size: 16px;
    font-family: helvetica;
    line-height: 1.5;
    padding: 0.5vh 0.5vw;
    text-align: justify;
}

.container2-3 {
    height: 33px;
    margin: -2px 12px 14px 12px;
    font-size: 12px;
    font-family: helvetica;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container2-3 p {
    margin-top: 5px;
    font-weight: bold;
    padding: 0.5vh 0.5vw;
}

.container2-1 p:hover {
    text-decoration: underline;
}

.container2-3 p:hover {
    text-decoration: underline;
}

.li-rules {
    font-size: 13px;
}

.color{
    margin-top: 100px;
    margin-bottom: 50px;
    color: var(--color-purple);
}

.post-title {
    margin: 10px 15px 10px 15px;
}

.post-title h3 {
    margin: 0px;
    font-weight: 400;
}



/* sobre nozes */
.title-logo-abt {
    text-align: center;
    margin: 50px;
}

.img1, .img2, .img30 {
    display: inline-block;
    width: 45%;
    height: 500px;
}

.img1 {
    margin-right: 5%;
    background: url(../media/team.png) center no-repeat;
    background-size: 90%;
}

.img2 {
    margin: auto;
    width: 40%;
    margin-left: 5%;
    background: url(../media/nossamissao.png) center no-repeat;
    background-size: 100%;
}

.img30 {
    background: url(../media/programmer.png) center no-repeat;
    background-size: 75%;
}

.title1, .title2, .title3{
    font-weight: 500;
    font-size: 28px;
    margin: 0px;
}

.texto1 h3, .texto2 h3, .texto3 h3 {
    font-weight: 500;
    font-size: 18px;
}

.textos {
    width: 40%;
    line-height: 1.5;
    display: inline-block;
}

.texto1, .texto3{
    margin: auto;
    margin-left: 5%;
}

.texto2 {
    width: 45%;
    margin-right: 5%;
}

.texto3 {
    display: flex;
    width: 90%;
}

.title3 {
    margin: auto;
    width: 85%;
    text-align: center;
}

.texto2 ul li.jose {
    margin-bottom: 10px;
}

.texto30 {
    width: 50%;
    display: inline-block;
}

.img30 {
    margin: auto;
    display: inline-block;
}

.title1, .title3 {
    border-bottom: 1px solid var(--color-dark);
}

.title2 {
    border-bottom: 1px solid white;
}

.introducao-abt {
    display: flex;
    background-color: white;
    padding-bottom: 50px;
}

.objetivos-abt {
    display: flex;
    color: white;
    background-color: var(--color-purple);
    padding: 50px 0 50px 0;
}

.programadores-abt {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 50px 0 50px 0;
}

.programmer {
    display: flex;
    margin:50px;
}

.programmer1 {
    margin-top: 50px;
}

.programmer-images {
    display: inline-block;
}

.programmer-text {
    margin-left: 10px;
    display: inline-block;
}

.programmer-text h2{
    margin: 0;
    margin-bottom: 10px;
}

.programmer-text p{
    min-height: 24px;
    margin: 0;
    margin-bottom: 20px;
}

.programmer-images img{
    width: 128px;
    border-radius: 50%;
}

.social-media img {
    width: 32px;
}

.container-post {
    position: relative;
    height: 0px;
    overflow: hidden;
    transition: all 1s ease-in;    
}

.aberto {
    height: 200px;
    transition: all 1s ease-out;
}

@keyframes abre {
    0% {
        height: 0px;
    }
    100% {
        height: 300px;
    }
}

.container-faq {
    border: 1px solid var(--color-purple);
    min-height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 25px;
    width: 49.5%;
}

.container-faq-sp {
    border: 1px solid var(--color-purple);
    min-height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 25px;
    width: 49.5%;
    height:100%;
}

.container-faq-1 {
    height: 33px;
    border: 1px;
    color: white;
    font-size: 16px;
    font-family: helvetica;
    border-style: solid;
    background-color: var(--color-purple);
    border-color: var(--color-purple);
    overflow: hidden;
    text-overflow: ellipsis;
}

.container-faq-1 p {
    margin-top: 3px;
    font-weight: bold;
    padding: 0.5vh 0.5vw;
}

.container-faq-2 p{
    font-size: 13px;
    font-family: helvetica;
    margin-top: 13px;
    line-height: 1.5;
    padding: 0.5vh 0.5vw;
    text-align: justify;
}

.container-faq-2 p a {
    color: var(--color-purple);
}

.container-something{
    margin: 0 auto 0 auto;
    display: flex;
    width: min(100% - 2rem, 750px);
}

#esquerda{
    margin-right: auto;
}

#direita{
    margin-left: auto;
}

.container1-post {
    width: min(100% - 2rem, 750px);
    margin-inline: auto;
    border: 1px solid var(--color-purple);
    border-radius: 4px;
}

.post-titulo {
    width: min(100% - 0rem, 750px);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 11.5px 11.5px 12px 11.5px;
}

.post-titulo input[type='text']{
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 4px;
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 6px;
}

.post-textarea {
    width: min(100% - 0rem, 750px);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 11.5px 11.5px 11.5px;
}

.post-textarea textarea{
    width: 750px;
    border: 1px solid #bbb;
    border-radius: 4px;
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 5px;
    padding: 5px;
}

.post-choose-container {
    width: min(100% - 0rem, 750px);
    margin-inline: auto;
    margin-bottom: 20px;
    padding: 0px 11.5px 0px 11.5px;
}

.post-button {
    width: min(100% - 0rem, 750px);
    margin: auto;
    display: flex;
    justify-content: center;
}

.post-button button {
    padding: 8px;
    width: 100px;
    border: 1px solid var(--color-purple);
    border-radius: 20px;
    color: white;
    font-weight: 600;
    background-color: var(--color-purple);
    outline: none;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    top: -18.5px;
}