.promocoes {
    width: 45%;
    height: 300px;
    background-color: white;
    margin: 0 auto;
    margin-bottom: 10px;
}
.promocoes h2 {
    text-align: center;
}

.promocoes img {
    margin: auto;
    display: block;
}

.separador {
    color: black;
    border: solid 1px black; 
}
