@font-face {
    font-family: "GraphikMedium";
    src: url('fonts/GraphikMedium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    font-style: normal;
    color: inherit;
    text-decoration: none;
}

/*input*/
textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

/*scroll bar*/
::-webkit-scrollbar {
    width: 10px;
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar:hover {
    background: #ccc;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}